!!! 5
%html
  %head
    %meta{charset: 'utf-8'}

    / Always force latest IE rendering engine or request Chrome Frame
    %meta{content: 'IE=edge,chrome=1', :'http-equiv' => 'X-UA-Compatible'}

    %title= "#{data.page.title || "Home"}  | Guillaume DOTT"
    = stylesheet_link_tag "normalize", "all"
    = favicon_tag 'favicon.png'

  %body{class: page_classes}
    %ul#lang
      %li= link_to I18n.t(:french), "/fr/"
      %li= link_to I18n.t(:english), "/"

    %header
      %div
        %h1 Guillaume DOTT
        %h2= I18n.t(:developer)
      #download_cv
        = link_to '/files/CV_GuillaumeDott.public.pdf' do
          #icon
            = image_tag 'pdf.png'
          %p= I18n.t(:download_resume)

    %nav
      %ul

    .content
      = yield

    %footer
      %p= I18n.t(:created_with, link: link_to('Middleman', 'http://middlemanapp.com/'))
      %p= I18n.t(:find_site, link: link_to(I18n.t(:gitea), 'https://code.amnesix.eu/guillaume/guillaume.dott.fr'))
